body{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth; 
}

p{
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.title_text{
    font-size: 40px;
    font-family: 'Inika';
    color: #499A18;
}

.p16{
    font-size: 16px;
}
.p20{
    font-size: 20px;
    color: #636060;
    font-family: 'Inter';
}

/*** container
-----------***/
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1222px;
}

/*** header
-----------***/
.header{
    margin: 0 auto;
    width: 100%;
    min-width: 1440px;
    height: 134px;
    background-color: #EDF2EC;
    font-family: 'Inika';
}

.header_items{
    display: flex;
	justify-content: space-between;
	align-items: center;
    padding-top: 42px;
    color: #010201;
}

.nav_list {
    list-style: none;
}

.nav_item{
    display: inline-block;
}

.nav_link {
    text-decoration: none;
    color: #010201;
    transition: color 0.1s linear;
    margin-left: 46px;
}

.nav_link:hover{
    color: #E06733;
    font-weight: bold;
}

/*** main
-----------***/

.main{
    margin: 0 auto;
    width: 100%;
    min-width: 1440px;
    font-family: 'Inter';
}

/*** welcome_section
-----------***/
.welcome_section{
    height: 532px;
    background-color: #EDF2EC;
}

.welcome{
    display: flex;
    justify-content: space-between;
    padding-top: 63px;
}
.welcome_img{
    width: 50%;
}

.welcome_text{
    width: 50%;
    text-align: left;
    padding: 33px 0px 0px 100px;
}

.title_welcome{
    font-size: 45px;
    color: #717171;
}

.subtitle{
    padding: 45px 0;
    line-height: 1.35;
}

.button{
    border: 2px solid #E06733;
    text-transform: uppercase;
    padding: 12px 25px;
    border-radius: 15px;

    transition: background 0.1s linear,
	color 0.1s linear;
}

.button:hover{
    background-color: #E06733;
    color: #ffffff;
}

/*** about_section
-----------***/
.about_section{
    width: 100%;
    height: 666px;
}

.about{
    display: flex;
    justify-content: space-between;
    padding-top: 158px;
}

.about_text{
    width: 48%;
    text-align: left;
}

.colortext{
    color: #E06733;
}

.about_img{
    width: 50%;
    text-align: right;
    margin-top: -85px;
}

/*** service_section
-----------***/
.service_section{
    width: 100%;
    height: 1300px;
    background-color: #EDF2EC;
}

.service{
    padding-top: 40px;
}

.head_service{
    display: flex;
    justify-content: space-between;
}

.service_text{
    width: 30%;
}

.service_buttons{
    width: 70%;
    padding: 30px 0px 0px 62px;
}

.button_service_block{
    border: 1px solid #E06733;
    text-transform: uppercase;
    width: 161px;
    height: 51px;
    /**padding: 12px 25px;**/
    margin-left: 38px;
    border-radius: 6px;

    transition: background 0.1s linear,
	color 0.1s linear;
}

.button_service_block:hover{
    background-color: #E06733;
    color: #ffffff;
}

.text_button_p20{
    font-size: 20px;
    color: #E06733;
    font-family: 'Inika';
}

.service_content{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    /*height: 100vh;*/
    padding-top: 35px;
}

.content_block{
    width: 27%;
    padding: 55px 0px 0px 116px;
    /*float: left;*/
    display: inline-block;
}

.content_block:first-child{
    padding-left: 0px;
}

.content_img{
    width: 329px;
    height: 350px;
}

.content_block_down{
    width: 27%;
    margin: 55px 116px 0px 0px;
    float: left;
}

.content_block_down:last-child{
    margin-right: 0px;
}

.content_text{
    margin-top: 10px;
    text-align: center;
}

.subtitle_content{
    font-size: 20px;
    color:#E06733;
    font-family: "Inter";
    font-weight: 700;
    margin-bottom: 10px;
}

/*** prices_section
-----------***/
.prices_section{
    width: 100%;
    height: 558px;
}

.prices{
    padding-top: 40px;
    font-weight: 700;
}

.prices_block{
    width: 50%;
    float: left;
}

.text_prices{
    font-family: "Inter";
    font-size: 40px;
}

.form_block{
    margin-top: 60px;
    width: 332px;
    height: 282px;
    border: 1px solid #E3E1D5;
    border-radius: 23px;
}

.form_items{
    padding-left: 41px;
}

.element_form{
    margin-top: 34px;
    width: 250px;
    height: 50px;
    background-color: #EDF2EC;
    border-radius: 20px;
}

.p20_form{
    font-size: 20px;
    font-family: "Inter";
    padding: 14px 40px;
}

.accord_btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #D9D9D9;
    text-align: center;
    margin: -35px 0px 0px 197px;
}

.arrow_btn{
    margin-bottom: 5px;
}

.text_btn_img_block{
    width: 40%;
    float: right;
    text-align: right;
    line-height: 1.5;
}

.colortext_prices{
    color: #499A18;
}

.btn_prices{
    margin-top: 38px;
}

.img_prices{
    margin-top: 39px;
}

/*** contact_section
-----------***/

.contact_section{
    width: 100%;
    height: 550px;
    background-color: #EDF2EC;
}

.contact{
    display: flex;
    justify-content: space-between;
}

.woman_contact{
    float: left;
    width: 33%;
    margin-top: 53px;
}

.text_contact{
    float: left;
    width: 33%;
    text-align: center;
    margin-top: 60px;
}

.accordion_contact_btn{
    float: left;
    width: 33%;
    margin-top: 148px;
}

.city_btn{
    width: 450px;
    height: 50px;
    background-color: #D6E7D2;
    box-shadow: 0px 3px 8px 0px #AEA1A1;
}

.text_contact_btn{
    font-size: 20px;
    color: #717171;
    font-family: 'Inter';
    line-height: 1.2;
    letter-spacing: 5%;

    padding: 12px 0px 5px 20px;
}

.accord_city_btn{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #AEA1A1;
    text-align: center;
    margin: -25px 0px 0px 400px;
}

/*** footer
-----------***/
.footer{
    width: 100%;
    height: 130px;
    color: #000000;
}

.footer_block{
    padding-top: 48px;
}

.data_footer{
    width: 33%;
    float: left;
}

.data_margin{
    margin-right: 20px;
}

.git{
    text-decoration: none;
    color: #000000;
}

.text_footer{
    width: 33%;
    float: left;
    font-size: 20px;
    color: #000000;
    font-family: 'Inter';
    text-align: center;
}

.social_icons{
    display: flex;
    justify-content: flex-end;
    width: 34%;
    margin-top: -19px;
}

.icon{
    margin-left: 20px;
}
